@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

$default-svg-stroke-width: 2px !default;
$default-svg-stroke-color: #ccc !default;

@mixin arrow-down-icon($stroke-width: $default-svg-stroke-width, $stroke-color: $default-svg-stroke-color) {
  background-image: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 18' fill='none' stroke='#{$stroke-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='#{$stroke-width}'%3E%3Cpolyline points='6 2 25 16 44 2 ' vector-effect='non-scaling-stroke'%3E%3C/polyline%3E%3C/svg%3E"), "#", "%23");
}

@mixin cross-icon($stroke-width: $default-svg-stroke-width, $stroke-color: $default-svg-stroke-color) {
  background-image: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' fill='none' stroke='#{$stroke-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='#{$stroke-width}'%3E%3Cline x1='2' y1='2' x2='8' y2='8' vector-effect='non-scaling-stroke' /%3E%3Cline x1='2' y1='8' x2='8' y2='2' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E"), "#", "%23");
}


.line-only {
  stroke-width: $default-svg-stroke-width;
  stroke: $default-svg-stroke-color;
  fill: none;
  overflow: visible;
}
.stroke-rounded {
  stroke-linecap: round;
  stroke-linejoin: round;
}

