<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 739 734.6" class="brand slack"><style type="text/css">
  .slack .st0{fill:#70CADB;}
  .slack .st1{fill:#E01765;}
  .slack .st2{fill:#E8A723;}
  .slack .st3{fill:#3EB890;}
  .slack .st4{fill:#CC2027;}
  .slack .st5{fill:#361238;}
  .slack .st6{fill:#65863A;}
  .slack .st7{fill:#1A937D;}
</style><title>  background</title><title>  Layer 1</title><path class="st0" d="M62.9 388.9C35.3 389.1 12 372.6 3.4 347c-0.3-1-0.6-1.9-0.9-2.9 -9.4-32.8 8.8-67.2 41.4-78.2L567 90.6c6.2-1.8 12.6-2.7 19.1-2.8 28.3-0.2 52.3 16.6 61.1 42.8l0.8 2.5c9.8 34.2-14.5 64.7-43.7 74.5 0 0-5.3 1.8-520.2 177.6C77.3 387.6 70.1 388.8 62.9 388.9L62.9 388.9z"/><path class="st1" d="M150.1 646.1c-27.8 0.2-51.2-16-59.7-41.3 -0.3-1-0.6-1.9-0.9-2.9 -9.5-33.2 8.7-68 41.4-79L654 346.1c6.8-2.3 13.7-3.4 20.8-3.5 27.9-0.2 52.3 16.8 61 42.4l0.8 2.7c5.1 17.7 2.1 37.5-8 53.2 -7.5 11.7-31.1 21.9-31.1 21.9L172.3 642.4C165.2 644.8 157.7 646.1 150.1 646.1L150.1 646.1z"/><path class="st2" d="M585.6 647.3c-27.8 0.3-52.6-17.4-61.5-43.8L349.5 84.9l-0.9-2.9c-9.5-33.1 8.7-67.6 41.3-78.6 6.5-2.2 13.3-3.3 20.1-3.4 10.1-0.1 19.8 2.2 29 6.7 15.3 7.6 26.9 20.9 32.4 37.1L646 562.4l0.5 1.7c9.8 34.3-8.3 68.9-41 79.8C599.1 646.1 592.4 647.2 585.6 647.3L585.6 647.3z"/><path class="st3" d="M326.1 734.6c-27.8 0.3-52.7-17.4-61.5-43.8L90 172.2c-11.4-33.6 6.7-70 40.3-81.4 0 0 0.1 0 0.1 0 6.5-2.2 13.2-3.3 20-3.4 27.8-0.3 52.7 17.4 61.5 43.8l174.6 518.6c11.4 33.6-6.7 70-40.3 81.4 -0.1 0-0.1 0-0.2 0.1C339.6 733.4 332.8 734.6 326.1 734.6L326.1 734.6 326.1 734.6z"/><path class="st4" d="M499.5 530.5l121.7-41.6 -39.8-118.2 -121.9 41.2L499.5 530.5z"/><path class="st5" d="M240.4 619.1l121.7-41.6L322 458.4l-121.9 41.2L240.4 619.1z"/><path class="st6" d="M412.8 273l121.8-41.6 -39.3-116.8 -122 40.9L412.8 273z"/><path class="st7" d="M153.7 361.5l121.7-41.6 -39.8-118.3 -122 40.9L153.7 361.5z"/></svg>